@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Order Management Web-App</h4>
    <p>From here you can manage order!</p>
    <p>Click On <button class="btn btn-primary"><a asp-controller="Category" style="color:white;text-decoration:none;" asp-actions="Index">Management</a></button></p>
</div>
