@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Order In the Queue</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2> Order List </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary text-end">
                <i class="bi bi-plus-circle-dotted"></i> Create New Category
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
        <th>
            Update
        </th>
        <th>
            Delete
        </th>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
                <td>
                    <button type = "button" class="btn btn-warning" >
                        <a asp-controller= "Category" asp-action = "Update" asp-route-id="@obj.Id" style="color:inherit; text-decoration:none;">Update</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger">
                        <a asp-controller= "Category" asp-action = "Delete" asp-route-id="@obj.Id" style="color:inherit; text-decoration:none;">Delete</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

